<body id="home">
  <nav>
    <div class="button active" onclick="location.href='/home'">
      <span>Campaña</span>
    </div>
    <div class="button" onclick="location.href='/history'">
      <span>Historial</span>
    </div>
    <div class="button" onclick="location.href='/contacts'">
      <span>Contactos</span>
    </div>
    <div class="button" onclick="location.href='/templates'">
      <span>Plantillas</span>
    </div>
    <button class="button" id="logout">Cerrar Sesión</button>
  </nav>
  <div id="main">
    {{{body}}}
  </div>
</body>