<body id="home">
  <nav>
    <div class="button">
      <span>Campaña</span>
    </div>
    <div class="button">
      <span>Historial</span>
    </div>
    <div class="button">
      <span>Contactos</span>
    </div>
    <div class="button">
      <span>Plantillas</span>
    </div>
    <button class="button" id="logout">Cerrar Sesión</button>
  </nav>
  <div id="main">
    {{{body}}}
  </div>
</body>